body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(209, 217, 226);
}

.containerLogin {
    width: 100%;
    max-width: 300px; 
    background-color: #ffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn {
    margin-top: 20px; 
}

.form-floating {
    margin-top: 10px; 
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000; 
}

#message {
    max-width: 200px; 
    margin: 10px auto; 
    text-align: center;
}
