<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/styleMenu.css">
    <link href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@4/dark.css" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="32x32" href="../images/favicon-32x32.png">
    <title>Stock Manager Users</title>
</head>
<body>
    <header class="py-3 mb-3">
        <div class="container-fluid d-grid gap-3 align-items-center" style="grid-template-columns: 1fr 2fr;">
            <div class="dropdown">
                <a href="#" class="d-flex align-items-center col-lg-4 mb-2 mb-lg-0 link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
                </a>
                <ul class="dropdown-menu text-small shadow">
                    <li><a class="dropdown-item" href="menu.html">Produtos</a></li>
                    <li><a class="dropdown-item" href="users.html">Usuários</a></li>
                </ul>
            </div>
        
            <div class="d-flex align-items-center">
                <form class="w-100 me-3" role="search">
                    <input type="search" class="form-control" placeholder="Pesquisar..." aria-label="Search" id="search">
                </form>
        
                <div class="flex-shrink-0 dropdown">
                    <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="../images/user.jpg" alt="mdo" width="32" height="32" class="rounded-circle">
                    </a>
                    <ul class="dropdown-menu text-small shadow">
                        <li><a class="dropdown-item" href="#">Perfil</a></li>
                        <li><a class="dropdown-item" href="#">Configurações</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="../php/logout.php">Sair</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <h2 class="text" style="margin-bottom: 30px;">Usuário</h2>
        <div class="justify-content-center">
            <table id="usersTable" class="table table-striped table-hover" style="width: 100%;">
                <thead class="table-header-center">
                    <tr>
                        <th>Código</th>
                        <th>Nome do Usuário</th>
                        <th>Email</th>
                        <th>Data Criação</th>
                        <th>
                            <button type="button" class="btn" title="Adicionar Usuário" onclick="adicionarUsuario()">
                                <i class="fa-solid fa-plus"></i>
                                <b>Novo Usuário</b>
                            </button>
                        </th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    



    <div class="modal fade" id="editUserModal" tabindex="-1" aria-labelledby="editUserModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editUserModalLabel">Editar Usuário</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="editUserForm">
                        <span style="color: red; font-size: 10px; margin-bottom: 5px;">* Obrigatório</span>
                        <div class="mb-3">
                            <label for="editUsuarioName" class="form-label">Nome do Usuário <span id="nomeUsuarioObrigatorio" style="color: red;">*</span></label>
                            <input type="text" class="form-control" id="editUsuarioName" name="nmUsuario">
                        </div>
                        <div class="mb-3">
                            <label for="editUserEmail" class="form-label">Email do Usuário <span id="descUsuarioObrigatorio" style="color: red;">*</span></label>
                            <input type="email" class="form-control" id="editUserEmail" name="email">
                        </div>
                        <div class="mb-3">
                            <label for="editUserPassword" class="form-label">Senha <span id="precoUsuarioObrigatorio" style="color: red;">*</span></label>
                            <input type="password" class="form-control" id="editUserPassword" name="senha">
                        </div>
                        <input type="hidden" id="editUserId" name="cdUsuario">
                        <button type="submit" class="btn btn-primary">Salvar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="addUsuarioModal" tabindex="-1" aria-labelledby="addUsuarioModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addUsuarioModalLabel">Adicionar Usuario</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="addUsuarioForm">
                        <span style="color: red; font-size: 10px; margin-bottom: 50px;">* Obrigatório</span>
                        <div class="mb-3">
                            <label for="addUsuarioName" class="form-label">Nome do Usuario <span id="nomeUsuarioObrigatorioAdd" style="color: red;">*</span></label>
                            <input type="text" class="form-control" id="addUsuarioName" name="nmUsuario">
                        </div>
                        <div class="mb-3">
                            <label for="addUsuarioEmail" class="form-label">Email do Usuário <span id="descUsuarioObrigatorioAdd" style="color: red;">*</span></label>
                            <input type="text" class="form-control" id="addUsuarioEmail" name="email">
                        </div>
                        <div class="mb-3">
                            <label for="addUsuarioSenha" class="form-label">Senha <span id="precoUsuarioObrigatorioAdd" style="color: red;">*</span></label>
                            <input type="password" class="form-control" id="addUsuarioSenha" name="senha">
                        </div>
                        <button type="submit" class="btn btn-primary">Adicionar</button>
                        <p id=""></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script src="https://kit.fontawesome.com/4327c32687.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>

    
<script>

    function verificaSession(callback) {
        $.ajax({
            type: 'GET',
            url: '../php/verificar_session.php',
            success: function(response) {
                if (response.trim() === 'noSession') {
                    window.location.href = '..';
                } else {
                    callback();
                }
            },
            error: function(xhr, status, error) {
                console.error("Erro ao verificar a sessão:", status, error);
            }
        });
    }

    
    $(document).ready(function() {
    verificaSession(function() {
        let table = $('#usersTable').DataTable({
            "ajax": {
                "url": "../php/busca_usuarios.php",
                "type": "GET",
                "data": function(d) {
                    d.search = $('#search').val();
                },
            },
            "columns": [
                { "data": "cdUsuario", "class": "table-cell-center", "width": "10%" },
                { "data": "nmUsuario", "class": "table-cell-center", "width": "20%" },
                { "data": "email", "class": "table-cell-center", "width": "30%" },
                { 
                    "data": "dtCriacao", 
                    "class": "table-cell-center", 
                    "width": "20%",
                    "render": function(data, type, row) {
                        if (data) {
                            var date = new Date(data);
                            var day = ("0" + date.getDate()).slice(-2);
                            var month = ("0" + (date.getMonth() + 1)).slice(-2);
                            var year = date.getFullYear();
                            return `${day}/${month}/${year}`;
                        }
                        return data;
                    }
                },
                { 
                    "data": null,
                    "class": "table-cell-center",
                    "width": "20%",
                    "render": function(data, type, row) {
                        return `
                            <div class="btn-group" role="group">
                                <button type="button" class="btn d-flex flex-column align-items-center" title="Editar Usuario" onclick="editarUsuario(${row.cdUsuario})">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                    <span>Editar</span>
                                </button>
                                <button type="button" class="btn d-flex flex-column align-items-center" title="Deletar Usuario" onclick="deleteUsuario(${row.cdUsuario})">
                                    <i class="fa-solid fa-trash-can"></i>
                                    <span>Deletar</span>
                                </button>
                            </div>
                        `;
                    }
                }
            ],
            "searching": false,
            "language": {
                "sLengthMenu": "Mostrando _MENU_ registros",
                "sSearch": "Pesquisar:",
                "sZeroRecords": "Nenhum registro encontrado",
                "sInfo": "Mostrando _START_ até _END_ de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
                "sInfoFiltered": "(filtrado de _MAX_ registros no total)",
                "oPaginate": {
                    "sFirst": "Primeiro",
                    "sLast": "Último",
                    "sNext": "Próximo",
                    "sPrevious": "Anterior"
                }
            }
        });

        $('#search').on('keyup', function() {
            table.ajax.reload();
        });
    });
});



        function deleteUsuario(cdUsuario) {
          Swal.fire({
              html: "<h5 style='color:black; text-align: center;'>Tem certeza que quer deletar esse Usuario?</h5>",
              text: "Não será possível reverter depois",
              icon: "warning",
              background: "#fff",
              showCancelButton: true,
              confirmButtonColor: "#3085d6",
              cancelButtonColor: "#d33",
              confirmButtonText: "Deletar",
              cancelButtonText: "Cancelar",
              customClass: {
                  content: 'text-center'
              }
          }).then((result) => {
              if (result.isConfirmed) {
                  $.ajax({
                      type: 'POST',
                      url: '../php/excluir_usuarios.php',
                      data: { cdUsuario: cdUsuario }, 
                      success: function(response) {
                          if (response.trim() === 'success') {
                              $("#usersTable").DataTable().ajax.reload(null, false);

                              Swal.fire({
                                  html: "<h5 style='color:black; text-align: center;'>Usuario Deletado</h5>",
                                  background: "#fff",
                                  icon: "success"
                              })

                          } else {
                              Swal.fire({
                                  html: "<h5 style='color:black; text-align: center;'>Erro: " + response + "</h5>",
                                  background: "#fff",
                                  icon: "error"
                              });
                          }
                      },
                      error: function() {
                          Swal.fire({
                              html: "<h5 style='color:black; text-align: center;'>Houve um erro ao processar a solicitação.</h5>",
                              background: "#fff",
                              icon: "error"
                          });
                      }
                  });
                  $("#usersTable").DataTable().ajax.reload(null, false);
              }
          });
      }

        function diminuiEstoque(cdUsuario){
          $.ajax({
              type: 'POST',
              url: '../php/diminuiEstoque.php',
              data: { cdUsuario: cdUsuario }, 
              success: function(response) {
                  if (response.trim() === 'success') {
                      $("#usersTable").DataTable().ajax.reload(null, false);

                  } else {
                      Swal.fire({
                          html: "<h5 style='color:black; text-align: center;'>Erro: " + response + "</h5>",
                          background: "#fff",
                          icon: "error"
                      });
                  }
              },
              error: function() {
                  Swal.fire({
                      html: "<h5 style='color:black; text-align: center;'>Erro: " + response + "</h5>",
                      background: "#fff",
                      icon: "error"
                  });
              }
          });
          $("#usersTable").DataTable().ajax.reload(null, false);
      }

        function aumentaEstoque(cdUsuario){
          $.ajax({
              type: 'POST',
              url: '../php/aumentaEstoque.php',
              data: { cdUsuario: cdUsuario }, 
              success: function(response) {
                  if (response.trim() === 'success') {
                      $("#usersTable").DataTable().ajax.reload(null, false);

                  } else {
                      Swal.fire({
                          html: "<h5 style='color:black; text-align: center;'>Erro: " + response + "</h5>",
                          background: "#fff",
                          icon: "error"
                      });
                  }
              },
              error: function() {
                  Swal.fire({
                      html: "<h5 style='color:black; text-align: center;'>Erro: " + response + "</h5>",
                      background: "#fff",
                      icon: "error"
                  });
              }
          });
          $("#usersTable").DataTable().ajax.reload(null, false);
        }

        function editarUsuario(cdUsuario) {
            debugger
            $.ajax({
                type: 'GET',
                url: '../php/get_usuario.php',
                data: { cdUsuario: cdUsuario },
                success: function(response) {
                    try {
                        var Usuario = response;

                        if (Usuario.error) {
                            Swal.fire({
                                html: `<h5 style='color:black; text-align: center;'>${Usuario.error}</h5>`,
                                background: "#fff",
                                icon: "error"
                            });
                            return;
                        }
                        $('#editUserId').val(Usuario.cdUsuario);
                        $('#editUsuarioName').val(Usuario.nmUsuario);
                        $('#editUserEmail').val(Usuario.email);
                        $('#editUserPassword').val(Usuario.senha);

                        var myModal = new bootstrap.Modal(document.getElementById('editUserModal'), {
                            keyboard: false
                        });
                        myModal.show();
                    } catch (e) {
                        Swal.fire({
                            html: "<h5 style='color:black; text-align: center;'>Erro ao processar a resposta do servidor.</h5>",
                            background: "#fff",
                            icon: "error"
                        });
                    }
                },
                error: function() {
                    Swal.fire({
                        html: "<h5 style='color:black; text-align: center;'>Houve um erro ao obter os dados do Usuario.</h5>",
                        background: "#fff",
                        icon: "error"
                    });
                }
            });
        }

        $('#editUserForm').on('submit', function(event) {
            event.preventDefault();

            let erro = false;

            if ($('#editUsuarioName').val() === '') {
                erro = true;
                $('#nomeUsuarioObrigatorio').text('*Campo obrigatório*');
            } else {
                $('#nomeUsuarioObrigatorio').text('');
            }

            if ($('#editUserDescription').val() === '') {
                erro = true;
                $('#descUsuarioObrigatorio').text('*Campo obrigatório*');
            } else {
                $('#descUsuarioObrigatorio').text('');
            }

            if ($('#editUserEmail').val() === '') {
                erro = true;
                $('#descUsuarioObrigatorio').text('*Campo obrigatório*');
            } else {
                $('#descUsuarioObrigatorio').text('');
                if($('#editUserEmail').val() < 0){
                    $('#precoUsuarioObrigatorio').text('*Valor incorreto*');

                }
            }

            if ($('#editUserQuantity').val() === '') {
                erro = true;
                $('#quantidadeUsuarioObrigatorio').text('*Campo obrigatório*');
            } else {
                $('#quantidadeUsuarioObrigatorio').text('');

                if($('#editUserQuantity').val() < 0)
                    $('#quantidadeUsuarioObrigatorio').text('Valor incorreto');
            }

            if (!erro) {
                $.ajax({
                    type: 'POST',
                    url: '../php/editar_usuarios.php',
                    data: $(this).serialize(),
                    success: function(response) {
                        if (response.trim() === 'success') {
                            $('#editUserModal').modal('hide');
                            $('#usersTable').DataTable().ajax.reload(null, false);
                        } else {
                            Swal.fire({
                                html: "<h5 style='color:black; text-align: center;'>Houve um erro ao alterar os dados do Usuario: " + response + "</h5>",
                                background: "#fff",
                                icon: "error"
                            });
                        }
                    },
                    error: function() {
                        Swal.fire({
                            html: "<h5 style='color:black; text-align: center;'>Houve um erro ao alterar os dados do Usuario.</h5>",
                            background: "#fff",
                            icon: "error"
                        });
                    }
                });
            }
        });

        function adicionarUsuario() {
            limpaCampos();
            var myModal = new bootstrap.Modal(document.getElementById('addUsuarioModal'), {
                keyboard: false
            });
            myModal.show();
        }

        $('#addUsuarioForm').on('submit', function(event) {
            event.preventDefault();
            debugger
            let erro = false;

            if ($('#addUsuarioName').val() === '') {
                erro = true;
                $('#nomeUsuarioObrigatorioAdd').text('*Campo obrigatório*');
            } else {
                $('#nomeUsuarioObrigatorioAdd').text('');
            }

            if ($('#addUsuarioEmail').val() === '') {
                erro = true;
                $('#descUsuarioObrigatorioAdd').text('*Campo obrigatório*');
            } else {
                $('#descUsuarioObrigatorioAdd').text('');
            }

            if ($('#addUsuarioSenha').val() === '') {
                erro = true;
                $('#precoUsuarioObrigatorioAdd').text('*Campo obrigatório*');
            } else {
                $('#precoUsuarioObrigatorioAdd').text('');
                if($('#addUsuarioSenha').val() < 0){
                    $('#precoUsuarioObrigatorioAdd').text('*Valor incorreto*');
                    erro = true;
                }
            }

            if ($('#addUsuarioQuantity').val() === '') {
                erro = true;
                $('#quantidadeUsuarioObrigatorioAdd').text('*Campo obrigatório*');
            } else {
                $('#quantidadeUsuarioObrigatorioAdd').text('');

                if($('#addUsuarioQuantity').val() < 0){
                    $('#quantidadeUsuarioObrigatorioAdd').text('Valor incorreto');
                    erro = true;
                }
            }

            if (!erro) {
                $.ajax({
                    type: 'POST',
                    url: '../php/adicionar_usuarios.php',
                    data: $(this).serialize(),
                    success: function(response) {
                        if (response.trim() === 'success') {
                            $('#addUsuarioModal').modal('hide');
                            $('#usersTable').DataTable().ajax.reload(null, false);
                            Swal.fire({
                                html: "<h5 style='color:black; text-align: center;'>Usuario Adicionado</h5>",
                                background: "#fff",
                                icon: "success"
                            });
                        } else {
                            Swal.fire({
                                html: "<h5 style='color:black; text-align: center;'>Houve um erro adicionar o Usuario: " + response + "</h5>",
                                background: "#fff",
                                icon: "error"
                            });
                        }
                    },
                    error: function() {
                        Swal.fire({
                            html: "<h5 style='color:black; text-align: center;'>Houve um erro adicionar o Usuario.</h5>",
                            background: "#fff",
                            icon: "error"
                        });
                    }
                });
            }
        });

        function limpaCampos(){
            $('#addUsuarioName').val('');
            $('#addUsuarioEmail').val(''); 
            $('#addUsuarioSenha').val('');
            $('#addUsuarioQuantity').val(''); 
            $('#nomeUsuarioObrigatorioAdd').text('*');
            $('#descUsuarioObrigatorioAdd').text('*');
            $('#precoUsuarioObrigatorioAdd').text('*');
            $('#quantidadeUsuarioObrigatorioAdd').text('*');
        }

    </script>
</body>
</html>
